<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-4">
        <div class="card-header">
          <h2 class="mb-0">Sign Up</h2>
        </div>

        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group mb-3">
              <%= f.label :email, class: "form-label" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :password, class: "form-label" %>
              <% if @minimum_password_length %>
                <span class="text-muted">(<%= @minimum_password_length %> characters minimum)</span>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :password_confirmation, class: "form-label" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
            </div>

            <div class="form-group mb-4">
              <%= f.label :default_avatar, "Choose Avatar Style", class: "form-label" %>
              <div class="avatar-options">
                <%= f.collection_radio_buttons :default_avatar, User::AVATAR_OPTIONS, :last, :first do |b| %>
                  <div class="avatar-option">
                    <%= b.radio_button %>
                    <%= image_tag current_user&.gravatar_url(default: b.value) || 
                                "https://secure.gravatar.com/avatar/0?d=#{b.value}", 
                                class: "avatar-preview" %>
                    <%= b.label %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="form-group">
              <%= f.submit "Sign up", class: "btn btn-primary w-100" %>
            </div>
          <% end %>

          <div class="mt-3 text-center">
            <div class="mb-3">
              <%= render "devise/shared/links" %>
            </div>
            
            <%- if devise_mapping.omniauthable? %>
              <div class="d-grid gap-2">
                <%- resource_class.omniauth_providers.each do |provider| %>
                  <%= button_to omniauth_authorize_path(resource_name, provider),
                              data: { turbo: false },
                              class: "btn btn-outline-dark" do %>
                    <i class="bi bi-github me-2"></i>
                    Sign up with <%= OmniAuth::Utils.camelize(provider) %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
