<div class="container">
  <div class="mt-2">
    <h1>News Feed</h1>
  </div>
  <ul class="list-group">
  <% @posts.order(created_at: :desc).each do |post| %>
    <% if post.user == current_user || current_user.following.accepted.include?(post.user) %>
      <li class="list-group-item mb-3">
        <p><%= link_to post.content, post_path(post), class: "text-decoration-none text-dark" %></p>
        <p><%= link_to post.user.email, user_path(post.user), class: "text-decoration-none" %></p>
        <p class="text-muted"><%= post.created_at.in_time_zone('Asia/Singapore').strftime("%B %d, %Y at %I:%M %p") %></p>
        <div class="d-flex align-items-center">
          <% if current_user.likes.exists?(post: post) %>
              <%= button_to "Unlike", like_path(current_user.likes.find_by(post: post)), method: :delete, class: "btn btn-danger btn-sm me-2" %>
            <% else %>
              <%= button_to "Like", likes_path(post_id: post.id), method: :post, class: "btn btn-primary btn-sm me-2" %>
            <% end %>
            <div class="d-flex align-items-center text-muted">
              <p class="mb-0 me-3"><%= post.likes.count %> <%= post.likes.count == 1 ? 'like' : 'likes' %></p>
              <p class="mb-0"><%= post.comments.count %> <%= post.comments.count == 1 ? 'comment' : 'comments' %></p>
            </div>
        </div>
        
        <div class="comments-list mt-3">
          <% if post.comments.any? %>
            <h6>Comments</h6>
            <% post.comments.order(created_at: :desc).each do |comment| %>
              <div class="comment card mb-2">
                <div class="card-body py-2">
                  <div class="d-flex justify-content-between">
                    <span class="text-muted">
                      <%= link_to comment.user.email, user_path(comment.user), class: "text-decoration-none" %>
                    </span>
                    <small class="text-muted">
                      <%= comment.created_at.in_time_zone('Asia/Singapore').strftime("%B %d, %Y at %I:%M %p") %>
                    </small>
                  </div>
                  <p class="card-text mb-0"><%= comment.content %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>

<div class="d-flex gap-2 mb-3">
  <%= link_to "New Post", new_post_path, class: "btn btn-dark" %>
  <%= link_to "Find more users", users_path, class: "btn btn-success" %>
</div>
</div>